PySide6>=6.6
Pillow>=10.0
numpy>=1.26
rarfile>=4.1
py7zr>=0.22
PyMuPDF>=1.24
beautifulsoup4>=4.12
pyinstaller>=6.0
imageio>=2.35
imageio-ffmpeg>=0.5
pillow-heif>=0.18
pillow-avif-plugin>=1.4
pillow-jxl-plugin>=1.3
Send2Trash>=1.8
